<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>

	<meta name="author" content="Jindřich Veselý">

	{ifset style} {include style} {/ifset}

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="/static/js/Naja.min.js"></script>
	<script>
		naja.initialize();
	</script>
</head>

<body>
	<div n:snippet="flashes">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	</div>

	{include content}

	{ifset scripts} {include scripts} {/ifset}
</body>
</html>