{block title}Hodnocení oběda{/block}
{block style}
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/responsive.css">
{/block}
{block scripts}

{/block}
{block content}
<a href="hodnoceni.html">
    <div class="levej">
        <h1>Oběd 1</h1>
        <p>Ohodnoťte oběd 1</p>
    </div>
</a>
<a href="hodnoceni.html">
    <div class="pravej">
        <h1>Oběd 2</h1>
        <p>Ohodnoťte oběd 2</p>
    </div>
</a>