.levej {
 width: 50%;
 height: 100vh;
 background-image: linear-gradient( #95DBF5, #FFB2AE);
 float: left;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.pravej {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(#FFB2AE, #95DBF5);
    float: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
  
   h1 {
    color: #414141;
    font-family: arial, sans-serif;
    font-size: 10vh;
    margin: 0%;
}


p {
    color: #585858;
    font-family: arial, sans-serif;
    font-size: 5vh;
    margin: 0%;
}


.hodnoceni1 {
    width: 20vw;
    height: 75vh;
    background-color: #c56b73;
    float: left;
    margin: 4vh;
    margin-top: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
}

.hodnoceni2 {
    width: 20vw;
    height: 75vh;
    background-color: #ffbe61;
    float: left;
    margin: 4vh;
    margin-top: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
}

.hodnoceni3 {
    width: 20vw;
    height: 75vh;
    background-color: #f5f77e;
    float: left;
    margin: 4vh;
    margin-top: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
}

.hodnoceni4 {
    width: 20vw;
    height: 75vh;
    background-color: #a5fcac;
    float: left;
    margin:4vh;
    margin-top: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
}



   body {
       margin: 0%;
       background-image: linear-gradient(to bottom right, #95DBF5, #FFB2AE);
       background-attachment: fixed;    

   }

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  

  .vadip {
    width: 40vw;
    height: 15vh;
    background-color: rgba(148, 123, 173, 0.5);
    border-radius: 40px;
    float: right;
    margin-top: 4vw;
    margin-right: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vadil {
    width: 40vw;
    height: 15vh;
    background-color: rgba(148, 123, 173, 0.5);
    border-radius: 40px;
    float: left;
    margin-top: 4vw;
    margin-left: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.polevka {
    width: 55vw;
    height: 15vh;
    background-color: #a7bed3;
    border-radius: 40px;
    float: left;
    margin-top: 4vw;
    margin-left: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.odeslat {
    width: 28vw;
    height: 15vh;
    background-color: #a7bed3;
    border-radius: 40px;
    float: left;
    margin-top: 4vw;
    margin-left: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.odeslatd {
    width: 90vw;
    height: 15vh;
    background-color: #a7bed3;
    border-radius: 40px;
    float: left;
    margin-top: 4vw;
    margin-left: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.odeslatt {
    width: 90vw;
    height: 30vh;
    background-color: #a7bed3;
    border-radius: 40px;
    float: left;
    margin-top: 6vw;
    margin-left: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.polevkad {
    width: 90vw;
    height: 30vh;
    background-color: #a7bed3;
    border-radius: 40px;
    float: left;
    margin-top: 6vw;
    margin-left: 11vh;
    margin-right: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



   
